body
{
        background-color: #AE0A0A;
}

#header
{
	
	height: 120px;
	width: 100%;
	
	background-image: url(../img/cork-board.jpg);
	text-align: center;
	
	color: #AE0A0A;
	font-family: freestyle script;
	font-size: 40px;
	line-height: 1.3;
	font-style: bold;  
	letter-spacing: 3px;
	
}
 
#menu
{
	height: 100px;
	width: 80%;
	
	position: absolute;
    	top: 150px;
        float:left;
        background-position: left;
	background-color: #AE0A0A;
	text-align: left;
        
	font-color: #FF8605;
	font-family: Comic Sans MS;
	font-size: 20px;
        font-style: bold;
	line-height: 2;
	  
	letter-spacing: 1px;
}

#content
{	
	height:complex ;
	width: 80%;
	margin-left: 150;
	
	position: absolute;
    	left: 200px;
    	top: 60px;
	background: #AE0A0A;
	text-align: left;
	font-family: Comic Sans MS;
	font-size: 20px;
	font-color: #FF8605;
	line-height: 1.5;
	letter-spacing: 1px;	
}
#tablecell
{
        font-family: Comic Sans MS;
        font-color: #FF8605;
}
 a:link 
{
    color: #FF8605;
}

a:visited 
{
    color: #FF8605;
}

a:hover
{
    color: #FF8605;
}

a:active 
{
    color: #FF8605;
}
